.main {
  padding: 15px 0;

  &__content {
    display: grid;
    grid-template-columns: 100%;
    align-items: flex-start;
    gap: 30px;

    @include media-breakpoint-up(lg) {
      grid-template-columns: 400px 1fr;
      grid-template-rows: auto;
    }
  }
}
